

#spin {
  color: red;
}

#spin:after {
  content: "";
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { content: "Lorem"; }


  30% { content: "sit"; }
  40% { content: "amet"; }

  70% { content: "elit"; }

  90% { content: "atque"; }
  100% { content: "atque"; }
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: 689px;
  margin:  auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

